<!-- BOOK LIST -->
 <div style="display: flex;justify-content: center;">
    <h1>Favourite Books List</h1>
 </div>
<section class="container">
  <div class="grid">
    <div class="card" *ngFor="let book of books;">

      <div class="img">
        <img [src]="book.image" />
      </div>

      <div class="content">
        <h4>{{ book.bookName }}</h4>
        <p>{{ book.author }}</p>

        <div class="bottom">
          <span>₹{{ book.price }}</span>
          <div style="display: flex; align-items: center;gap: 10px;">
            <button [routerLink]="['/book-detail', book?._id]" style="cursor: pointer;">View</button>
          <img (click)="removeFavourite(book.isFavourite, book._id)" src="assets/favourite.jpg" alt="" style="height: 20px;width: 20px;cursor: pointer;">
          </div>
        </div>
        <button class="cart-btn" (click)="addToCart(book._id)">
            Add to Cart
        </button>
      </div>

    </div>
  </div>

  <div *ngIf="books.length === 0" class="empty">
    No books found
  </div>
</section>