<!-- NAVBAR -->
<header class="nav">
  <div class="logo">📚 BookStore</div>

  <div class="nav-actions">
    <button class="btn ghost" (click)="openLogin()">Sign In</button>
    <button class="btn primary" (click)="openSignup()">Sign Up</button>
  </div>
</header>

<!-- SEARCH BAR -->
<section class="search-section">
  <input
    type="text"
    placeholder="Search books, authors..."
    [(ngModel)]="searchTerm"
    (input)="filterBooks()"
  />
</section>

<!-- BOOK LIST -->
<section class="container">
  <div class="grid">
    <div class="card" *ngFor="let book of books;">

      <div class="img">
        <img [src]="book.image" />
      </div>

      <div class="content">
        <h4>{{ book.title }}</h4>
        <p>{{ book.author }}</p>

        <div class="bottom">
          <span>₹{{ book.price }}</span>
          <button>View</button>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="books.length === 0" class="empty">
    No books found
  </div>
</section>